<div class="about-container">
  <div class="image-container">
    <img src="../../../assets/Saraswathi.jpg" />
  </div>
  <div class="description">
    <h1>HI, I'M SARASWATHI JAGADEESAN</h1>
    <p>
      A frontend developer, my primary focus is on designing and implementing
      the user interface (UI) and user experience (UX) of websites or web
      applications.I am experienced in analyzing, programming, and testing web
      applications and I have good domain knowledge in Banking (BFSI).
    </p>
  </div>
</div>
