@use '../../constants.scss';
.about-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.image-container{
    img{
        width: 600px;
        height: auto;
    }
}
.description{
    padding: 8%;
    text-align: center;
    h1{    
        color: constants.$link-hover-color;
        animation-name: fade-in-down;
        animation-fill-mode: both;
        animation-duration: 1s;
    }
    p{
        color: constants.$link-hover-color;
        animation-name: fade-in-up;
        animation-fill-mode: both;
        animation-duration: 1s; 
    }
    $animationDelay: 1s;


@keyframes fade-in-down {
  0% { opacity: 0; transform: translate3d(0, -100%, 0);}
  100% { opacity: 1;transform: none }
}
@keyframes fade-in-up {
    0% { opacity: 0; transform: translate3d(0, 100%, 0);}
    100% { opacity: 1;transform: none }
  }
}



@media only screen and (max-width: constants.$breakpoint-tab) {
   .about-container{
    display: block;
   }
   .image-container{
    img{
        width: 400px;
    }
   }
  }
  

