@use '../../constants.scss';
@use '../../animations';
@use '../../circle-container.scss';

.about-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: relative;
  height: 100vh;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 12%;
  margin-right: 20px; 

  img {
    width: 350px;
    height: 350px;
    border-radius: 50%; 
    object-fit: cover;
    transition: transform 0.2s ease-out;
  }
}

.description {
  padding: 8% 0 0 20%;
  flex: 1;

  h1 {
    color: constants.$primary-color;
    font-size: 28px;
    font-weight: 500;
    animation-name: fade-in-down;
    animation-fill-mode: both;
    animation-duration: 1s;
  }

  p {
    color: constants.$link-hover-color;
    animation-name: fade-in-up;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
}

.download-button {
  padding: 10px 20px;
  background: constants.$nav-background;
  color: constants.$primary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid constants.$primary-color;
  margin-top: 16px; 
}

@media only screen and (max-width: constants.$breakpoint-tab) {
  .about-container {
    flex-direction: column;
    padding: 5%;
    height:60vh;
  }
  .image-container {
    flex-direction: column;
    align-items: center;
  
  img {
    width: 150px;
    height: 150px;
  
  }
  .description{
    padding: 0;
    text-align: center;
  }
}
}


