<h3>WHAT I'VE DONE</h3>

<div class="project-container" id="section3">
  <div class="project relative">
    <h3>Task Manager</h3>
    <img src="../../../assets/todo.png" alt="todo" class="image" />
    <div class="overlay">
      <p class="description">
        Helps to manage task effectively where the user can Add, edit, delete,
        or mark tasks as complete. Filter tasks by status (completed/pending).
      </p>
      <a href="https://todoapp-4c27b.web.app" class="btn-visit" target="_blank"
        >Visit Project</a
      >
    </div>
  </div>

  <div class="project relative">
    <h3>Habit Tracker</h3>
    <img
      src="../../../assets/habit.png"
      alt="Habit Tracker Demo"
      class="image"
    />
    <div class="overlay">
      <p class="description">
        A Habit Tracker is a tool designed to help individuals build, monitor,
        and maintain positive habits by tracking their daily progress.
      </p>
      <a
        href="https://habit-tracker-1-3rpy.onrender.com/"
        class="btn-visit"
        target="_blank"
        >Visit Project</a
      >
    </div>
  </div>
  <div class="project relative">
    <h3>Ecommerce App</h3>
    <img src="../../../assets/e-commerce.png" alt="e-commerce" class="image" />
    <div class="overlay">
      <p class="description">
        An E-commerce App is a digital platform that allows users to browse,
        select, and purchase products or services online.
      </p>
      <a
        href="https://ecommerceangular-ce93a.web.app/"
        class="btn-visit"
        target="_blank"
        >Visit Project</a
      >
    </div>
  </div>
  <div class="project relative">
    <h3>Todo App</h3>
    <img src="../../../assets/reactTodo.png" alt="todo" class="image" />
    <div class="overlay">
      <p class="description">
        A Todo App is a simple digital tool for managing tasks and to-do lists.
      </p>
      <a
        href="https://react-notes-1e31c.web.app/"
        class="btn-visit"
        target="_blank"
        >Visit Project</a
      >
    </div>
  </div>
  <div class="project relative">
    <h3>Recipe App</h3>
    <img src="../../../assets/recipeApp.png" alt="todo" class="image" />
    <div class="overlay">
      <p class="description">
        A Recipe App is a digital platform that allows users to discover, save,
        and organize recipes. It offers features like searching by ingredient,
        cuisine, or dish type, and allows users to save their favorite recipes.
      </p>
      <a
        href="https://contactlistsaraswathij.web.app/"
        target="_blank"
        class="btn-visit"
        >Visit Project</a
      >
    </div>
  </div>
</div>
