<h3>WHAT I'VE DONE</h3>

<div class="project-container" id="section3">
  <div class="project">
    <h3>Task Manager</h3>

    <p>
      Helps to manage task effectively where the user can Add, edit, delete, or
      mark tasks as complete. Filter tasks by status (completed/pending).
    </p>
    <ul>
      <li>
        <div>Angular 14</div>
      </li>
      <li>
        <div>Tailwind CSS</div>
      </li>
      <li>
        <div>DaisyUI</div>
      </li>
      <li>
        <div>Firebase</div>
      </li>
    </ul>
  </div>
  <div class="project">
    <h3>Habit Tracker</h3>

    <p>
      A Habit Tracker is a tool designed to help individuals build, monitor, and
      maintain positive habits by tracking their daily progress.
    </p>
    <ul>
      <li>
        <div>React</div>
      </li>
      <li>
        <div>Firebase</div>
      </li>
      <li>
        <div>Tailwind</div>
      </li>
      <li>
        <div>DaisyUI</div>
      </li>
      <li>
        <div>Node.js</div>
      </li>
    </ul>
  </div>
  <div class="project">
    <h3>Tata Consultancy Services - Jan 2017 to Feb-2020</h3>
    <h4>Citi Bank - NA : CITI Retail Services</h4>
    <p>
      The project aims to maintain CITI Bank - NA SharePoint sites where we used
      to create new SharePoint and enhance the existing SharePoint site using
      HTML, jQuery, and Adobe XD.
    </p>
    <ul>
      <li>
        <div>HTML5</div>
      </li>
      <li>
        <div>CSS3</div>
      </li>
      <li>
        <div>Adobe XD</div>
      </li>
      <li>
        <div>Photoshop</div>
      </li>
    </ul>
  </div>
</div>
