@use '../../constants.scss';

.resume-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: url('../../../assets/resume.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh; 
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 16px;
}

.description {
    text-align: center;
    h1 {    
        color: #f9e9e9;
        
    }
   
}

.download-button {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 16px; /* Adds spacing between title and button */
}
  
.download-button:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: constants.$breakpoint-tab) {
   .resume-container {
       display: block;
   }
}
