<div class="skills">
  <h2>I have experience with these technologies</h2>
  <div class="imgsGrid">
    <div class="skill-icon">
      <img
        src="../../../assets/skill/angular.svg"
        alt="The logo icon for Angular"
        title="Angular"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/react.svg"
        alt="The logo icon for react"
        title="React"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/html-5.svg"
        alt="The logo icon for HTML 5"
        title="HTML 5"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/css-3.svg"
        alt="The logo icon for CSS3"
        title="CSS 3"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/javascript-js.svg"
        alt="The logo icon for Javascript"
        title="Javascript"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/wordpress.svg"
        alt="The logo icon for Wordpress"
        title="Wordpress"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/adobe-xd.svg"
        alt="The logo icon for AdobeXD"
        title="AdobeXD"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/tailwind-css.svg"
        alt="The logo icon for TailwindCSS"
        title="Tailwind CSS"
        class="icon-fit"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/github.svg"
        alt="The logo icon for GitHub"
        title="GitHub"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/bitbucket.svg"
        alt="The logo icon for Bitbucket"
        title="Bitbucket"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/jira.svg"
        alt="The logo icon for Jira"
        title="Jira"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/jenkins-original.svg"
        alt="The logo icon for Jenkins"
        title="Jenkins"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/figma.svg"
        alt="The logo icon for Figma"
        title="Figma"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/jquery-original-wordmark.svg"
        alt="The logo icon for jQuery"
        title="jQuery"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/microsoft-azure.svg"
        alt="The logo icon for Azure"
        title="Azure"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/sonarqube.svg"
        alt="The logo icon for SonarQube"
        title="SonarQube"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/npm.svg"
        alt="The logo icon for NPM"
        title="NPM"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/mongodb-original-wordmark.svg"
        alt="The logo icon for mongoDB"
        title="mongoDB"
        class="icon-fit"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/nodejs.svg"
        alt="The logo icon for NodeJS"
        title="Node JS"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/bootstrap-plain-wordmark.svg"
        alt="The logo icon for Bootstrap"
        title="Bootstrap"
      />
    </div>
    <div class="skill-icon">
      <img
        src="../../../assets/skill/file-type-firebase.svg"
        alt="The logo icon for Firebase"
        title="Firebase"
      />
    </div>
  </div>
</div>
