/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Lato";
 
    font-weight: 500;
    letter-spacing: 1px;
  }
  body{
    background: #0c0c0c;
  }
  html {
    scroll-behavior: smooth;
  }
  
  