<h3>EXPERIENCE</h3>
<div class="experience-container" id="section2">
  <div class="experience">
    <h3>iLink Digital - Oct 2022 to June 2023</h3>
    <h4>AbbVie : Coolsculpting web utility</h4>
    <p>
      Designed a responsive UI for uploading records to Azure Blob, displaying
      data with filters, and facilitating downloads and support contact, with
      activity monitoring via Application Insights.
    </p>
    <ul>
      <li>
        <div>Angular 14</div>
      </li>
      <li>
        <div>Azure</div>
      </li>
      <li>
        <div>SCSS</div>
      </li>
      <li>
        <div>.Net</div>
      </li>
      <li>
        <div>Tailwind CSS</div>
      </li>
    </ul>
  </div>
  <div class="experience">
    <h3>Tata Consultancy Services - Mar 2020 to Oct 2022</h3>
    <h4>Citi Bank - NA : CITI Retail Services</h4>
    <p>
      Migrated a legacy page to Angular, developed ADA-compliant layouts,
      interdiction pages for high-risk transactions, and a content service for
      ICMS data retrieval.
    </p>
    <ul>
      <li>
        <div>Angular 7</div>
      </li>
      <li>
        <div>Jenkins</div>
      </li>
      <li>
        <div>RLM</div>
      </li>
      <li>
        <div>Bitbucket</div>
      </li>
      <li>
        <div>Teamsite</div>
      </li>
    </ul>
  </div>
  <div class="experience">
    <h3>Tata Consultancy Services - Jan 2016 to Feb-2020</h3>
    <h4>Citi Bank - NA : CITI Retail Services</h4>
    <p>
      Maintained and enhanced CITI Bank NA SharePoint sites using HTML, jQuery,
      and Adobe XD.
    </p>
    <ul>
      <li>
        <div>HTML5</div>
      </li>
      <li>
        <div>CSS3</div>
      </li>
      <li>
        <div>Adobe XD</div>
      </li>
      <li>
        <div>Photoshop</div>
      </li>
    </ul>
  </div>
</div>
