<div class="experience-container" id="section2" >
  <div class="experience">
    <h3>iLink Digital - Oct 2022 to June 2023</h3>
    <h4>AbbVie : Coolsculpting web utility</h4>
    <p>
      As a UI Developer, I created the responsive UI for an application,
      including an upload screen that allows users to upload records directly to
      AZURE Blob, track upload progress, and add mail recipients before
      uploading. The dashboard screen displays uploaded records in a grid with
      details from the API response and features filters such as search, sort,
      and date. Additionally, the download screen facilitates downloading the
      user manual and software for Windows and Mac, along with an option to
      email the support team. Application activity is monitored using
      application insights.
    </p>
    <ul>
        <li>
            <div>Angular 14</div>
        </li>
        <li>
            <div>SCSS</div>
        </li>
        <li>
            <div>JSON</div>
        </li>
        <li>
            <div>Azure</div>
        </li>
    </ul>
  </div>
  <div class="experience">
    <h3>Tata Consultancy Services - Mar 2020 to Oct 2022</h3>
    <h4>Citi Bank - NA : CITI Retail Services</h4>
    <p>
      Provided retail services for consumers and commercial partners. As a UI
      developer, I migrated an existing page from the legacy Wintersmith
      framework to Angular, optimizing web design for all devices and onboarding
      new partners. I developed new interdiction pages for High-Risk
      Transactions (HRT) based on server responses and designed HTML layouts for
      a fusion marketing site in Google Ads Manager (GAM), adhering to ADA
      requirements for various partners. Additionally, I created a content
      service to retrieve content from the ICMS team site.
    </p>
    <ul>
        <li>
            <div>Angular 7</div>
        </li>
        <li>
          <div>Jenkins</div>
      </li>
      <li>
        <div>RLM</div>
    </li>
    <li>
      <div>Bitbucket</div>
  </li>
  <li>
    <div>Teamsite</div>
</li>
    </ul>
  </div>
  <div class="experience">
    <h3>Tata Consultancy Services - Jan 2017 to Feb-2020</h3>
    <h4>Citi Bank - NA : CITI Retail Services</h4>
    <p>
      The project aims to maintain CITI Bank - NA SharePoint sites where we used to
      create new SharePoint and enhance the existing SharePoint site using HTML,
      jQuery, and Adobe XD.
    </p>
    <ul>
      <li>
          <div>HTML5</div>
      </li>
      <li>
        <div>CSS3</div>
    </li>
    <li>
      <div>Adobe XD</div>
  </li>
  <li>
    <div>Photoshop</div>
</li>

  </ul>
  </div>
 
</div>
